@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #F0F3FF;
}

header{
    background-color: white;
    
}